<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>administrador</servlet-name>
        <servlet-class>Controlador.administrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>area</servlet-name>
        <servlet-class>Controlador.area</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>canal</servlet-name>
        <servlet-class>Controlador.canal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cargo</servlet-name>
        <servlet-class>Controlador.cargo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>empleado</servlet-name>
        <servlet-class>Controlador.empleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ingreso</servlet-name>
        <servlet-class>Controlador.ingreso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>permiso</servlet-name>
        <servlet-class>Controlador.permiso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>publicacion</servlet-name>
        <servlet-class>Controlador.publicacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sector</servlet-name>
        <servlet-class>Controlador.sector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usuario</servlet-name>
        <servlet-class>Controlador.usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubirImagenPerfil</servlet-name>
        <servlet-class>Controlador.SubirImagenPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubirArchivoPermiso</servlet-name>
        <servlet-class>Controlador.SubirArchivoPermiso</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>administrador</servlet-name>
        <url-pattern>/administrador/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>area</servlet-name>
        <url-pattern>/area/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>canal</servlet-name>
        <url-pattern>/canal/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cargo</servlet-name>
        <url-pattern>/cargo/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>empleado</servlet-name>
        <url-pattern>/empleado/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ingreso</servlet-name>
        <url-pattern>/ingreso/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>permiso</servlet-name>
        <url-pattern>/permiso/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>publicacion</servlet-name>
        <url-pattern>/publicacion/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sector</servlet-name>
        <url-pattern>/sector/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usuario</servlet-name>
        <url-pattern>/usuario/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubirImagenPerfil</servlet-name>
        <url-pattern>/SubirImagenPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubirArchivoPermiso</servlet-name>
        <url-pattern>/SubirArchivoPermiso</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/ligth-bootstrap/Pages/alertas/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/ligth-bootstrap/Pages/alertas/500.jsp</location>
    </error-page>
</web-app>
